.acos-webdev-editor .editor {
  height: 200px;
  font-size: 18px;
}
.acos-webdev-editor .output iframe {
  width: 100%;
  height: 200px;
  border: none;
  border-top: 2px solid grey;
}
.acos-webdev-editor .qlcs .qlc {
  margin: 1em 0;
}
.acos-webdev-editor .qlcs .qlc label {
  display: block;
  margin: 2px 0;
  border: 1px solid lightgrey;
  border-radius: 4px;
  cursor: pointer;
}
.acos-webdev-editor .qlcs .qlc label:hover {
  background-color: gainsboro;
}
.acos-webdev-editor .qlcs .qlc label.incorrect {
  background-color: salmon;
  color: darkred;
}
.acos-webdev-editor .qlcs .qlc label.correct {
  background-color: springgreen;
  color: green;
}
.acos-webdev-editor .qlcs .qlc label .info {
  margin-left: 2em;
}
.acos-webdev-editor .acos-replay-note {
  background: rgba(230, 230, 230, 0.3);
  color: white;
  padding: 1em;
}

body.execute {
  background-color: gainsboro;
  color: grey;
  margin: 0;
}
body.execute ul#display {
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 18px;
  margin: 0;
}
body.execute ul#display > li {
  list-style: none;
}
body.execute ul#display > li pre.args {
  display: none;
}
body.execute ul#display > li.cmd::before {
  content: "> ";
}
body.execute ul#display li.success {
  color: green;
}
body.execute ul#display > li.success::before {
  content: "✔ ";
}
body.execute ul#display > li.error {
  color: red;
}
body.execute ul#display > li.error::before {
  content: "⨯ ";
}
body.execute textarea.show-code {
  display: block;
  width: 98%;
  margin: 0 auto;
}

body.execute button {
  border: 1px solid silver;
  border-radius: 0.5em;
  background-color: transparent;
  padding: 0.5em 1em;
  margin: 0.5em;
  color: grey;
  font-family: inherit;
  font-size: 90%;
  font-weight: bold;
}

body.execute .tone-keyboard {
  text-align: center;
  padding-top: 20px;
}
body.execute .tone-keyboard button {
  width: 50px;
  height: 120px;
  padding: 2px;
  background-color: #F0F0F0;
}
body.execute .tone-keyboard button.black {
  height: 100px;
  transform: translate(0, -20px);
  background-color: #333;
  color: #FFF;
  border-color: #000;
}
body.execute .tone-keyboard button.last-played {
  border-left-width: 10px;
  border-top-width: 3px;
}

